@charset "UTF-8";
/* ========================================================================== 
VARIABLES SASS
========================================================================== */
/* ========================================================================== 
SEMANTIC ELEMENTS
========================================================================== */
body {
  background: white;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  padding: 20px;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.6em !important;
}

h2,
a {
  font-family: "Roboto-regular", "sans-serif";
}

p {
  font-family: "Roboto-thin", "sans-serif";
  font-size: 1em;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ========================================================================== 
GOOGLE FONT
========================================================================== */
@font-face {
  src: url("../../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
  font-family: "Shrikhand";
}
@font-face {
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-bold";
}
@font-face {
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-regular";
}
@font-face {
  src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-family: "Roboto-thin";
}
/* ========================================================================== 
MIXINS SASS => Les mixins se compilent en ensembles de règles dupliqués
========================================================================== */
/* ========================================================================== 
EXTENSIONS (@extend) SASS => Les extensions se compilent en sélecteurs dupliqués. 
On peut utiliser des placeholders d’ensembles de règles en préfixant leur nom d’un symbole pourcent (%) : %extend-placeholder  .
========================================================================== */
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label, .introduction__btn, .card__icon {
  cursor: pointer;
}

.label {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.label:hover, .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ========================================================================== 
LOOPS SASS
========================================================================== */
.introduction--lightgrey,
.location--lightgrey,
.label--lightgrey,
.restaurants--lightgrey,
.footer--darkgrey {
  background-color: #f6f6f6;
}

.introduction--grey,
.location--grey,
.label--grey,
.restaurants--grey,
.footer--darkgrey {
  background-color: #eaeaea;
}

.introduction--darkgrey,
.location--darkgrey,
.label--darkgrey,
.restaurants--darkgrey,
.footer--darkgrey {
  background-color: #353535;
}

/* ========================================================================== 
CONDITIONS SASS
========================================================================== */
/* ========================================================================== 
HEADER
========================================================================== */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.header__logo {
  width: 60%;
}

/* ========================================================================== 
FOOTER
========================================================================== */
.footer {
  padding: 20px;
}
.footer__content-logo {
  width: 30%;
}
.footer__logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(103%) contrast(101%);
}
.footer__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}
.footer__content-link {
  margin: 4px 0;
}
.footer__icon {
  color: white;
  margin-right: 2px;
  font-size: 0.8em;
  width: 20px;
}
.footer__link {
  text-decoration: none;
  color: white;
  margin: 4px 0;
}

/* ========================================================================== 
CARD
========================================================================== */
.card {
  background-color: white;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card__thumbnail {
  height: 180px;
  position: relative;
  border-radius: inherit;
}
.card__img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.card__badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  margin: 15px;
  padding: 6px;
  background-color: #99e2d0;
  color: #278870;
  font-family: "Roboto-regular";
  border-radius: 2px;
}
.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__content-text {
  width: 80%;
  padding: 15px;
}
.card__title {
  font-family: "Roboto-bold";
  margin-bottom: 4px;
}
.card__content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.card__icon {
  font-size: 1.4em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.card__icon:hover {
  background: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  -webkit-text-stroke-width: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* ========================================================================== 
LOCATION
========================================================================== */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.location__icon {
  margin-right: 10px;
}

/* ========================================================================== 
INTRODUCTION
========================================================================== */
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.introduction__title {
  text-align: center;
}
.introduction__desc {
  text-align: center;
  margin: 20px 0;
}
.introduction__btn {
  padding: 16px;
  margin: 20px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  color: white;
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}

/* ========================================================================== 
LABEL
========================================================================== */
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  padding: 22px 0;
  margin: 25px 0;
  border-radius: 25px;
}
.label:hover {
  background-color: #e9ddf8;
}
.label:focus {
  background-color: #e9ddf8;
  outline: none;
}
.label:focus.label__icon {
  color: #9356dc;
}
.label__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  height: 25px;
  width: 25px;
  color: white;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356dc;
}
.label__icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 1.4em;
}
.label__title {
  width: 70%;
}

/* ========================================================================== 
MEDIA QUERIES
========================================================================== */
/* METHODOLOGY BEM & SASS  */
/* How to Set Your Project Up With Sass => https://dev.to/darnocer/how-to-setup-your-project-with-sass-scss-ip4 */
/* ========================================================================== 
IMPORT
========================================================================== */

/*# sourceMappingURL=style.css.map */
