@use "../utils/variables" as r;
@use "../utils/mixins" as m;

.label-container {
  @include m.for-tablet-portrait-up {
    padding: 0 15%;
  }
  @include m.for-tablet-landscape-up {
    display: flex;
    padding: 40px;
  }
}
