/* ========================================================================== 
VARIABLES SASS
========================================================================== */

// font-family
$font-family: (
  thin: (
    Roboto-thin,
    sans-serif,
  ),
  regular: (
    Roboto-regular,
    sans-serif,
  ),
  bold: (
    Roboto-bold,
    sans-serif,
  ),
  special: (
    Shrikhand,
    sans-serif,
  ),
);

// font-size => MAPS
$font-size: (
  section-heading: 1.6em,
  card-icon: 1.4em,
  label-icon: 1.4em,
  paragraph: 1em,
  btn-text: 1em,
  card-badge: 0.8em,
  footer-icon: 0.8em,
);

// backgrounds => MAPS
$bg-colors: (
  "lightgrey": #f6f6f6,
  "grey": #eaeaea,
  "darkgrey": #353535,
);

// colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// text-colors
$primary-text-color: black;
$secondary-text-color: white;

// linear-gradient
$linear-gradient-bottom: linear-gradient(
  to bottom,
  #ff79da,
  #e86edb,
  #cf64dc,
  #b35cdc,
  #9356dc
);

$linear-gradient-top: linear-gradient(
  to top,
  #ff79da,
  #e86edb,
  #cf64dc,
  #b35cdc,
  #9356dc
);

$linear-gradient-diagonal: linear-gradient(
  to right bottom,
  #ff79da,
  #e86edb,
  #cf64dc,
  #b35cdc,
  #9356dc
);

// padding
$p-20: 20px;
