/* ========================================================================== 
CARD
========================================================================== */
@use "../utils/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/extensions";

.card {
  @include m.card-properties();
  // @extend %shadow;
  &:hover {
    @extend %shadow-hover;
  }
  &__thumbnail {
    height: 180px;
    position: relative;
    border-radius: inherit;
  }
  &__img {
    @extend %img-cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: map-get(v.$font-size, card-badge);
    margin: 15px;
    padding: 6px;
    background-color: v.$tertiary-color;
    color: darken(v.$tertiary-color, 40%);
    font-family: "Roboto-regular";
    border-radius: 2px;
  }
  &__content {
    @include m.row-center();
  }
  &__content-text {
    width: 80%;
    padding: 15px;
  }
  &__title {
    font-family: "Roboto-bold";
    margin-bottom: 4px;
  }
  &__content-icon {
    @include m.row-center();
    width: 20%;
  }
  &__icon {
    @extend %cursor-pointer;
    font-size: map-get(v.$font-size, card-icon);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &:hover {
      background: v.$linear-gradient-top;
      -webkit-text-stroke-width: 0px;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
  @include m.for-tablet-portrait-up {
    width: calc(50% - 10px);
    margin: 20px 10px 20px 0;
    &:nth-child(2n) {
      width: calc(50% - 10px);
      margin: 20px 0px 20px 10px;
    }
  }
  @include m.for-desktop-up {
    width: calc(25% - 20px);
    &:nth-child(2n) {
      width: calc(25% - 20px);
      margin: 20px 10px 20px 0;
    }
    &:nth-child(4n) {
      width: calc(25% - 20px);
      margin: 20px 0px 20px 0;
    }
  }
}
