/* ========================================================================== 
LABEL
========================================================================== */
@use "../utils/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/extensions";

.label {
  @include m.row-center();
  @extend %cursor-pointer;
  @extend %shadow;
  position: relative;
  transition: 0.3s;
  padding: 22px 0;
  margin: 25px 0;
  border-radius: 25px;
  &:hover {
    @extend %shadow-hover;
    background-color: lighten(v.$primary-color, 32);
  }
  &:focus {
    background-color: lighten(v.$primary-color, 32);
    outline: none;
    &.label__icon {
      color: v.$primary-color;
    }
  }
  &__badge {
    @include m.row-center();
    position: absolute;
    left: -10px;
    height: 25px;
    width: 25px;
    color: v.$secondary-text-color;
    padding: 5px;
    border-radius: 50%;
    background-color: v.$primary-color;
    @include m.for-tablet-landscape-up {
      top: -19px;
      left: auto;
      height: 30px;
      width: 30px;
    }
    @include m.for-desktop-up {
      height: 32px;
      width: 32px;
    }
  }
  &__icon {
    @include m.row-center(!important);
    width: 30%;
    font-size: map-get(v.$font-size, label-icon);
    @include m.for-tablet-landscape-up {
      width: 20%;
      font-size: 1.4em;
    }
    @include m.for-desktop-up {
      font-size: 1.6em;
    }
  }
  &__title {
    width: 70%;
    @include m.for-tablet-landscape-up {
      width: auto;
    }
  }
  @include m.for-tablet-landscape-up {
    width: calc(100% / 3);
    padding: 18px 0;
    margin: 0 10px;
  }
  @include m.for-desktop-up {
    padding: 22px 0;
    margin: 0 18px;
  }
}
