// RESET
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/responsive.scss";

// GOOGLE FONT
// https://stackoverflow.com/questions/4872592/use-multiple-font-face-rules-in-css
@font-face {
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-family: "Shrikhand";
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-bold";
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-regular";
}

@font-face {
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-family: "Roboto-thin";
}

// COLORS
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// $primary-color-hover: rgba(147, 86, 220, 0.2);

// BACKGROUNDS
$primary-background: #f6f6f6;
$secondary-background: #eaeaea;
$tertiary-background: #353535;

// TEXT COLORS
$primary-text-color: black;
$secondary-text-color: #7f8c8d;
$tertiary-text-color: white;

// LINEAR GRADIENT
$linear-gradient: linear-gradient(
  to bottom,
  #ff79da,
  #e86edb,
  #cf64dc,
  #b35cdc,
  #9356dc
);

// PADDING
$p-20: 20px;

// SEMANTIC TAGS
body {
  background: white;
}

section:nth-of-type(1),
section:nth-of-type(2) {
  padding: 20px;
}

section:nth-of-type(2) {
  background-color: $primary-background;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.6em;
}

h2 {
  font-family: "Roboto-regular", "sans-serif";
}

p {
  font-family: "Roboto-thin", "sans-serif";
  font-size: 1em;
}

// HEADER
.header {
  display: flex;
  justify-content: center;
  padding: 30px;

  .header__logo {
    width: 60%;
  }
}

// HERITAGE @extend
%shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

%shadow-hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// LOCATION
.location {
  background-color: $secondary-background;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $p-20;

  .location__icon {
    margin-right: 10px;
  }
}

// INTRODUCTION
.introduction {
  padding: $p-20;
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .introduction__title {
    text-align: center;
  }

  .introduction__text {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
  }

  .introduction__btn {
    cursor: pointer;
    padding: 16px;
    margin: 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    color: $tertiary-text-color;
    background-image: $linear-gradient;
  }
}

// TAB
.tab {
  @extend %shadow;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  background-color: $primary-background;
  padding: 22px 0;
  margin: 25px 0;
  border-radius: 25px;
  display: flex;
  align-items: center;

  &:hover {
    @extend %shadow-hover;
    background-color: lighten($primary-color, 32);
  }

  &:focus {
    background-color: lighten($primary-color, 32);
    .tab__icon {
      color: $primary-color;
    }
  }

  .tab__badge {
    position: absolute;
    left: -10px;
    height: 25px;
    width: 25px;
    color: $tertiary-text-color;
    padding: 5px;
    border-radius: 50%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab__icon {
    width: 30%;
    display: flex;
    justify-content: center;
    color: $tertiary-background;
    font-size: 1.4em;
  }

  .tab__text {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
}

// CARD
.card {
  @extend %shadow;
  background-color: white;
  border-radius: 12px;
  margin: 20px 0;

  &:hover {
    @extend %shadow-hover;
  }

  .card__container-img {
    height: 180px;
    position: relative;
    border-radius: inherit;
  }

  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .card__badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    margin: 15px;
    padding: 6px;
    background-color: #99e2d0;
    color: #008766;
    font-family: "Roboto-regular";
    border-radius: 2px;
  }

  .card__content {
    display: flex;
  }

  .card__text {
    width: 80%;
    padding: 15px;
  }

  .card__title {
    font-family: "Roboto-bold";
    margin-bottom: 4px;
  }

  .card__favorite {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-heart {
      font-size: 1.4em;
    }
  }
}

// @media #{$tablet} {
// }

// @media #{$desktop} {
// }

// @media #{xl-desktop} {
// }
