/* METHODOLOGY BEM & SASS */

/* ========================================================================== 
IMPORT
========================================================================== */
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/responsive.scss";

/* ========================================================================== 
GOOGLE FONT
========================================================================== */
// https://stackoverflow.com/questions/4872592/use-multiple-font-face-rules-in-css
@font-face {
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-family: "Shrikhand";
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-bold";
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-regular";
}

@font-face {
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-family: "Roboto-thin";
}

/* ========================================================================== 
VARIABLES SASS
========================================================================== */
// colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// text-colors
$primary-text-color: black;
$secondary-text-color: white;

// backgrounds
$bg-colors: (
  "lightgrey": #f6f6f6,
  "grey": #eaeaea,
  "darkgrey": #353535,
);

// linear-gradient
$linear-gradient-btn: linear-gradient(
  to bottom,
  #ff79da,
  #e86edb,
  #cf64dc,
  #b35cdc,
  #9356dc
);

$linear-gradient-heart: linear-gradient(
  to top,
  #ff79da,
  #e86edb,
  #cf64dc,
  #b35cdc,
  #9356dc
);

// padding
$p-20: 20px;

/* ========================================================================== 
HERITAGE (@extend) SASS
========================================================================== */
%shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

%shadow-hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ========================================================================== 
LOOPS SASS
========================================================================== */
@each $color, $hex in $bg-colors {
  .introduction--#{$color},
  .location--#{$color},
  .tab--#{$color},
  .restaurants--#{$color},
  .footer--darkgrey {
    background-color: $hex;
  }
}

/* ========================================================================== 
SEMANTIC ELEMENTS
========================================================================== */
body {
  background: white;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  padding: 20px;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.6em;
}

h2,
a {
  font-family: "Roboto-regular", "sans-serif";
}

p {
  font-family: "Roboto-thin", "sans-serif";
  font-size: 1em;
}

/* ========================================================================== 
HEADER
========================================================================== */
.header {
  display: flex;
  justify-content: center;
  padding: 30px;
  .header__logo {
    width: 60%;
  }
}

/* ========================================================================== 
LOCATION
========================================================================== */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $p-20;
  .location__icon {
    margin-right: 10px;
  }
}

/* ========================================================================== 
INTRODUCTION
========================================================================== */
.introduction {
  padding: $p-20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .introduction__title {
    text-align: center;
  }
  .introduction__text {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
  }
  .introduction__btn {
    cursor: pointer;
    padding: 16px;
    margin: 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    color: $secondary-text-color;
    background-image: $linear-gradient-btn;
  }
}

/* ========================================================================== 
TAB
========================================================================== */
.tab {
  @extend %shadow;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  padding: 22px 0;
  margin: 25px 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  &:hover {
    @extend %shadow-hover;
    background-color: lighten($primary-color, 32);
  }
  &:focus {
    background-color: lighten($primary-color, 32);
    outline: none;
    .tab__icon {
      color: $primary-color;
    }
  }
  .tab__badge {
    position: absolute;
    left: -10px;
    height: 25px;
    width: 25px;
    color: $secondary-text-color;
    padding: 5px;
    border-radius: 50%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tab__icon {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
  }
  .tab__text {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
}

/* ========================================================================== 
CARD
========================================================================== */
.card {
  @extend %shadow;
  background-color: white;
  border-radius: 12px;
  margin: 20px 0;
  &:hover {
    @extend %shadow-hover;
  }
  .card__img-container {
    height: 180px;
    position: relative;
    border-radius: inherit;
  }
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .card__badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    margin: 15px;
    padding: 6px;
    background-color: #99e2d0;
    color: #008766;
    font-family: "Roboto-regular";
    border-radius: 2px;
  }
  .card__content {
    display: flex;
  }
  .card__text {
    width: 80%;
    padding: 15px;
  }
  .card__title {
    font-family: "Roboto-bold";
    margin-bottom: 4px;
  }
  .card__favorite {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-heart {
      cursor: pointer;
      font-size: 1.4em;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      &:hover {
        background: $linear-gradient-heart;
        -webkit-text-stroke-width: 0px;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/* ========================================================================== 
FOOTER
========================================================================== */
.footer {
  padding: $p-20;
  .footer__logo-container {
    width: 30%;
    .footer__logo {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg)
        brightness(103%) contrast(101%);
    }
  }
  .footer__links-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .footer__link-container {
    margin: 4px 0;
    .footer__icon {
      color: white;
      margin-right: 2px;
      font-size: 0.8em;
      width: 20px;
    }
  }
  .footer__link {
    text-decoration: none;
    color: white;
    margin: 4px 0;
  }
}

/* ========================================================================== 
MEDIA QUERIES
========================================================================== */
// @media #{$tablet} {
// }

// @media #{$desktop} {
// }

// @media #{xl-desktop} {
// }
