/* ========================================================================== 
SEMANTIC ELEMENTS
========================================================================== */
@use "../utils/variables" as v;

body {
  background: white;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  padding: v.$p-20;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: map-get(v.$font-size, section-heading) !important;
}

h2,
a {
  font-family: "Roboto-regular", "sans-serif";
}

p {
  font-family: "Roboto-thin", "sans-serif";
  font-size: map-get(v.$font-size, paragraph);
}
