/* METHODOLOGY BEM & SASS  */
/* How to Set Your Project Up With Sass => https://dev.to/darnocer/how-to-setup-your-project-with-sass-scss-ip4 */

/* ========================================================================== 
IMPORT
========================================================================== */
@use "libs/reset.scss";
@use "libs/variables";
@use "libs/mixins";
@use "libs/extensions.scss";
@use "libs/loops.scss";
@use "libs/conditions.scss";
@use "libs/responsive.scss";

/* ========================================================================== 
GOOGLE FONT
========================================================================== */
// https://stackoverflow.com/questions/4872592/use-multiple-font-face-rules-in-css
@font-face {
  src: url("../../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
  font-family: "Shrikhand";
}

@font-face {
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-bold";
}

@font-face {
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-regular";
}

@font-face {
  src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-family: "Roboto-thin";
}

/* ========================================================================== 
SEMANTIC ELEMENTS
========================================================================== */
body {
  background: white;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  padding: variables.$p-20;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.6em;
}

h2,
a {
  font-family: "Roboto-regular", "sans-serif";
}

p {
  font-family: "Roboto-thin", "sans-serif";
  font-size: 1em;
}

/* ========================================================================== 
HEADER
========================================================================== */
.header {
  @include mixins.row-center();
  padding: 30px;
  &__logo {
    width: 60%;
  }
}

/* ========================================================================== 
LOCATION
========================================================================== */
.location {
  @include mixins.row-center();
  padding: variables.$p-20;
  &__icon {
    margin-right: 10px;
  }
}

/* ========================================================================== 
INTRODUCTION
========================================================================== */
.introduction {
  @include mixins.column-center();
  padding: variables.$p-20;
  &__title {
    text-align: center;
  }
  &__desc {
    text-align: center;
    margin: 20px 0;
  }
  &__btn {
    @extend %cursor-pointer;
    padding: 16px;
    margin: 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    color: variables.$secondary-text-color;
    background-image: variables.$linear-gradient-btn;
  }
}

/* ========================================================================== 
label
========================================================================== */
.label {
  @include mixins.row-center();
  @extend %cursor-pointer;
  @extend %shadow;
  position: relative;
  transition: 0.3s;
  padding: 22px 0;
  margin: 25px 0;
  border-radius: 25px;
  &:hover {
    @extend %shadow-hover;
    background-color: lighten(variables.$primary-color, 32);
  }
  &:focus {
    background-color: lighten(variables.$primary-color, 32);
    outline: none;
    &.label__icon {
      color: variables.$primary-color;
    }
  }
  &__badge {
    @include mixins.row-center();
    position: absolute;
    left: -10px;
    height: 25px;
    width: 25px;
    color: variables.$secondary-text-color;
    padding: 5px;
    border-radius: 50%;
    background-color: variables.$primary-color;
  }
  &__icon {
    @include mixins.row-center(!important);
    width: 30%;
    font-size: 1.4em;
  }
  &__title {
    width: 70%;
  }
}

/* ========================================================================== 
CARD
========================================================================== */
.card {
  @include mixins.card-properties();
  // @extend %shadow;
  &:hover {
    @extend %shadow-hover;
  }
  &__thumbnail {
    height: 180px;
    position: relative;
    border-radius: inherit;
  }
  &__img {
    @extend %img-cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    margin: 15px;
    padding: 6px;
    background-color: variables.$tertiary-color;
    color: darken(variables.$tertiary-color, 40%);
    font-family: "Roboto-regular";
    border-radius: 2px;
  }
  &__content {
    @include mixins.row-center();
  }
  &__content-text {
    width: 80%;
    padding: 15px;
  }
  &__title {
    font-family: "Roboto-bold";
    margin-bottom: 4px;
  }
  &__content-icon {
    @include mixins.row-center();
    width: 20%;
  }
  &__icon {
    @extend %cursor-pointer;
    font-size: 1.4em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &:hover {
      background: variables.$linear-gradient-heart;
      -webkit-text-stroke-width: 0px;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
}

/* ========================================================================== 
FOOTER
========================================================================== */
.footer {
  padding: variables.$p-20;
  &__content-logo {
    width: 30%;
  }
  &__logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg)
      brightness(103%) contrast(101%);
  }
  &__content-text {
    @include mixins.column-start();
    margin-top: 10px;
  }
  &__content-link {
    margin: 4px 0;
  }
  &__icon {
    color: white;
    margin-right: 2px;
    font-size: 0.8em;
    width: 20px;
  }
  &__link {
    text-decoration: none;
    color: white;
    margin: 4px 0;
  }
}

/* ========================================================================== 
MEDIA QUERIES
========================================================================== */
// @media #{$taglet} {
// }

// @media #{$desktop} {
// }

// @media #{xl-desktop} {
// }
